<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Footer</title>
  </head>
  <body>
    <% if(user){ %>
    <div class="footer-div">
      <p class="footer-para">
        Copyright &copy; All Rights Reserved By DevFlux aka Madhur Purohit.
      </p>
    </div>
    <% } %>
  </body>
</html>
